.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    border-top: 1px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    font-size: small;
}

h1 {
    margin: 10px;
    padding: 5px;
    text-align: center;
}
